
<div href="#" class="card" style="width: 18rem;">
  <img class="card-img-top" src='/media/food.jfif' alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">{{person}}</h5>
  </div>
</div>


<style>

.service {
 /* height:90px; /* 40px - more place for scrollbar, is hidden under parent box */
    padding:5px;
    white-space:nowrap;
    overflow-x: scroll;
    overflow-y: hide;
	-webkit-overflow-scrolling:touch;
}

  .card {
    display:inline-block !important;
    padding: 10px;
  }
</style>