<ul class="list-group list-group-collapse">
{% if subservices.count > 0 %}
    {% for subservice in subservices %}
       {% include 'subservices/subserviceslice.html' with subservice_name=subservice.sub_service_name subserviceid=subservice.sub_service_id %}
    {% endfor %}
{% else %}
    NOT FOUND
{% endif %}
    <!--<li class="list-group-item">Two<a href="#" data-toggle="#filterList2" class="list-down-btn"><span
            class="fa fa-chevron-down"></span></a>
        <ul class="list-group filterList" id="filterList2">
            <li class="list-group-item">
                Subgroup
            </li>
            <li class="list-group-item">
                Subgroup
            </li>
            <li class="list-group-item">
                Subgroup
            </li>
        </ul>
    </li>-->
</ul>


<script>

</script>

<style>
    .list-down-btn
{
  float: right;
  color: black;
  margin-top: 2px;
}

.list-group-collapse
{
  overflow: hidden;
}

.list-group-collapse li  ul {
    margin-left: -15px;
    margin-right: -15px;
    margin-bottom: -11px;
    border-radius: 0px;
}

.list-group-collapse li ul
{
  border-radius: 0px !important;
  margin-top: 8px;
}

.list-group-collapse li  ul li {
    border-radius: 0px !important;
    border-left: none;
    border-right: none;
    padding-left: 32px;
}

.filterList
{
  display: none;
}

#subgroup
{
  display: none;
}


</style>

