<div class="container-fluid">
  <div class="col-sm-12 col-md-12 col-sm-12 col-lg-12">
    <ul class="list-group list-group-collapse">
    <li class="list-group-item">One<a href="#" data-toggle="#filterList1" class="list-down-btn"><span class="fa fa-chevron-down"></span></a>
        <ul class="list-group filterList" id="filterList1">

        {% include 'requests/requests.html' %}


        </ul>
      </li>
        <li class="list-group-item">Two<a href="#" data-toggle="#filterList2" class="list-down-btn"><span class="fa fa-chevron-down"></span></a>
        <ul class="list-group filterList" id="filterList2">
          <li class="list-group-item">
            Subgroup
          </li>
            <li class="list-group-item">
            Subgroup
          </li>
            <li class="list-group-item">
            Subgroup
          </li>
        </ul>
      </li>
    </ul>
  </div>

</div>


<script>

</script>

<style>
    .list-down-btn
{
  float: right;
  color: black;
  margin-top: 2px;
}

.list-group-collapse
{
  overflow: hidden;
}

.list-group-collapse li  ul {
    margin-left: -15px;
    margin-right: -15px;
    margin-bottom: -11px;
    border-radius: 0px;
}

.list-group-collapse li ul
{
  border-radius: 0px !important;
  margin-top: 8px;
}

.list-group-collapse li  ul li {
    border-radius: 0px !important;
    border-left: none;
    border-right: none;
    padding-left: 32px;
}

.filterList
{
  display: none;
}

#subgroup
{
  display: none;
}
</style>

